.Navbar-main {
  /* display: flex; */
  width: 95%;
  height: 75px;
  margin-top: 50px;
  text-align: center;

}


.Main-item  {
  display: flex;
  height: 75px;
  padding-right: 20px;
  padding-left: 20px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  
}

.menu {  
  display: flex;
  
}
.menu-class-active{
  display: flex;
  height: 75px;
  padding-right: 20px;
  padding-left: 20px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}


