body{
    font-family: 'Open Sans Condensed', sans-serif;
    margin: auto;
}
.container{
    width: 90vw;
    margin-left: 20px;
}

.Navbar-top {
  display: flex;
  height: 40px;
  padding-bottom: 10px;
}
.items {
  display: flex;
  height: 20px;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid black;
}
.Top-menu {
  display: flex;
}
.float { 
  margin-top: -30px;
  display: flex;
  float: right;
}
